{
  "dirForUpload" : "/opt/biks/upload/",
  "urlForPublicAccess" : "{{getv "/biks/http"}}",
  "connConfig" : {
    "server"   : "{{getv "/biks/sqlsrv"}}",
    "instance" : null,
    "database" : "{{getv "/biks/db"}}",
    "user"     : "{{getv "/biks/user"}}",
    "password" : "{{getv "/biks/userpwd"}}",
    "poolSize" : 30,
    "timeout"  : 10
  }
}
